#heading {
    color: rgb(236, 142, 244);
}

body {
    background-color: rgb(255, 231, 231);
}

#section1 {
    color: rgb(191, 145, 198);
}
#section2 {
    color: rgb(191, 145, 198);
}

#section3 {
    color: rgb(191, 145, 198);
}

#section4 {
    color: rgb(191, 145, 198);
}

#section5 {
    color: rgb(191, 145, 198);
}
